@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

*{
  list-style-type:none;
  font-family: 'Roboto Mono', monospace;
}

h1{
  font-size: 30px;
  padding: 10px 20px;
  color: teal;
}

#chatApp{
  max-width: 1000px;
  margin: 30px auto;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0, 0.05);
  border-radius: 2px;
}

#chat-window{
  height:600px;
  overflow: auto;
  background: #f9f9f9;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#typing p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: teal;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

button{
    background: teal;
    color: #fff;
    font-size: 22px;
    border: 10;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}

button:hover{
  opacity: 0.5;
}
